<!DOCTYPE html>
<html>

<head>
	<title>Thymeleaf-Spring-Project3</title>
</head>

<body>


	<form action="/cal" method="post">
		<label>Enter StudentName</label>
		<input type="text" name="name">
		<br />
		<label>Enter 1St Sub Marks</label>
		<input type="text" name="marks1">
		<br />
		<label>Enter 2nd Sub Marks</label>
		<input type="text" name="marks2">
		<br />
		<label>Enter 3rd Sub Marks</label>
		<input type="text" name="marks3">
		<br />
		<label>Enter 4th Sub Marks</label>
		<input type="text" name="marks4">
		<br />
		<input type="submit">
	</form>
</body>

</html>